html {
  background: url(http://www.mubis.es/media/users/9692/139794/mi-teoria-sobre-star-wars-episodio-vii-spoilers-spoilers-spoilers-spoilers-spoilers-original.jpg)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 0px;
  padding: 10px;
  height: 25px;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 30px;
}

.searchButton {
  width: 80px;
  border: 0px;
  background: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  font-size: 30px;
}

.wrap {
  width: 70%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resolve {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 7%;
  overflow: auto;
}

.resolve > div {
  background:  #ffffff50;
  width: 400px;
  height: 300px;
  float: left;
  margin: 5px;
}

p {
  font-size: 22px;
  font-weight: bold;
  color: #FFD480;
  margin-left: 40px;
  margin-right: 40px;
}

span {
  color: #ddd;
}
